body{
  background-color: #e0e0e0;
}

.mainTitle{
  font-family: 'Heebo', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}

.privacy{
  font-family: 'Heebo', sans-serif;
  text-align: center;
  font-size: 1rem;
  padding: 15px;
}

iframe{
  width: 1000px;
  height: 600px;
  display: block;
  margin: 50px auto;
}

@media (max-width: 600px){
  .mainTitle{
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
  }
  .privacy{
    font-size: 0.8rem;
  }
}

@media (max-width: 1024px){
  iframe{
    width: 80vw;
    height: 60vw;
  }
}
